/*
.editor-container .mtk4,      // material family
.editor-container .mtk13,     // material family
{
    font-family: 'Fira Code' !important;
    letter-spacing: -0.75px !important
}
*/

.editor-container .mtk29,     /* arc-dark */
.editor-container .mtk27      /* arc-dark */
{
    font-family: 'Fira Code' !important;
    letter-spacing: -0.75px !important
}